/* variables */
:root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* base styles */
body {
  background-color: var(--secondary);
  /* overflow-x: hidden; */
}
.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0 0.6);
  display: inline-block;
}
.button:hover {
  color: #222;
  background-color: var(--primary);
}
/* fonts */

/* mobile styles (less than 620px)*/

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablets */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
