/* variables */
:root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* base styles */

/* fonts */

/* mobile styles (less than 620px)*/

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablets */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
